  .footer-icons-container{
    padding-bottom: 30px;
  }

@media (max-width: 499px) and (min-width: 300px) {
  .footer-main-content {
    padding-top: 100px;
  }
  .footer-icons-container{
    padding-bottom: 50px;
  }
  /* .footer-headline{
    text-align: center !important;
  } */
}
