@font-face {
  font-family: 'clash_display';
  src: url('/client/src/assets/fonts/ClashDisplay-Regular.otf');
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.inner-wrapper {
  width: 85%;
  margin-top: 8%;
}
.headline {
  font-family: 'clash_display' !important;
}

.css-u64c8x-MuiButtonBase-root-MuiButton-root {
  border-color: #fff !important;
  color: #fff !important;
  text-transform: capitalize !important;
  border-radius: 500px !important;
  position: relative !important;
  left: 0% !important;
  width: fit-content !important;
  padding: 12px 42px !important;
  font-size: 14px !important;
  line-height: 1.25rem !important;
}
.light-mode {
  border-color: #0a0a0a !important;
  color: #0a0a0a !important;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.hand-wave {
  display: inline-block;
  transform-origin: 70% 70%; /* pivot around the base of the hand */
  animation: wave 2.5s infinite;
}

.emp-space-divider {
  width: 100%;
  height: 18vh;
  background-color: #0a0a0a;
  border-top: 1px solid #262626;
  margin-top: 5%;
}

@media (max-width: 1028px) and (min-width: 600px) {
  .inner-wrapper {
    margin-top: 15%;
  }
  .all-links {
    display: none !important;
  }
  .short-slogan-box {
    width: 60% !important;
  }
}

@media (max-width: 599px) and (min-width: 500px) {
  .inner-wrapper {
    width: 100%;
    margin-top: 18%;
  }
  .all-links {
    display: none !important;
  }
  .short-slogan-box {
    width: 60% !important;
  }
  .split-parent {
    font-size: 3rem !important;
    line-height: 1;
  }
}

@media (max-width: 499px) and (min-width: 300px) {
  .inner-wrapper {
    width: 100%;
    margin-top: 24%;
  }
  .all-links {
    display: none !important;
  }
  .short-slogan-box {
    width: 80% !important;
  }
  .headline {
    font-size: 65px !important;
    line-height: 85% !important;
    margin-top: 8% !important;
    width: 100% !important;
  }
  .mobile-bottom {
    justify-content: start !important;
    margin-top: 5%;
  }
  .mobile-bottom-inner {
    padding: 0 !important;
  }
  .css-u64c8x-MuiButtonBase-root-MuiButton-root {
    font-size: 14px !important;
    width: 100% !important;
    padding: 10px 2px !important;
  }
  .emp-space-divider {
    width: 100%;
    height: 12vh;
    background-color: #0a0a0a;
    margin-top: 8vw;
  }
  .split-parent {
    font-size: 3rem !important;
    line-height: 1;
  }
}

@media (max-width: 1280px) and (min-width: 300px) {
  .css-u64c8x-MuiButtonBase-root-MuiButton-root {
    width: 50% !important;
  }
}
